	<!-- MetroPanel Package -->
    <div id="metropanel" class="op-panel img-navyblue">
		
    	<!-- Control -->
    	<div class="op-panelctrl solid-black">
		
            <!-- Close Button -->
            <div data-close='metropanel' class="op-panelbt op-bt-close">
                <img src="images/arrow-left-48.png" alt="close" />
            </div>
            <!-- End Close button -->
			
			<!-- Close All to Close All Panels -->
            <div class="op-panelbt op-bt-closeall floatright">
                <img src="images/close-white-48a.png" alt="close all" />
            </div>
            <!-- End Close All -->
            
            <div class="clearspace"></div>
        </div>
        <!-- End Control -->
        
        
    	<!-- Panel Content -->
        <div class='op-panelform'>
        
			<div class="img-holder" style="text-align:center;">
			<a href="http://docs.sonhlab.com/metropanel-jquery-plugin-documentation/" target="_blank">
				<img src="images/demo/metropanel-banner.jpg" alt="metro panel" class="responsive-img" />
			</a>
			</div>
        
        </div>
        <!-- End Panel Content -->
        
    </div>
    <!-- END MetroPanel -->