	<!-- ShopSlider Package -->
    <div id="shopslider" class="op-panel img-purtywood">
    
    	<!-- Control -->
    	<div class="op-panelctrl solid-black">
		
            <!-- Close Button to Close The Current Panel -->
            <div data-close='shopslider' class="op-panelbt op-bt-close">
                <img src="images/arrow-left-48.png" alt="close" />
            </div>
            <!-- End Close button -->
			
			<!-- Close All to Close All Panels -->
            <div class="op-panelbt op-bt-closeall floatright">
                <img src="images/close-white-48a.png" alt="close all" />
            </div>
            <!-- End Close All -->
            
            <div class="clearspace"></div>
        </div>
        <!-- End Control -->
        
        
    	<!-- Panel Content -->
        <div class='op-panelform'>
        
			<div class="img-holder" style="text-align:center; margin-bottom:20px;">
			<a href="http://docs.sonhlab.com/shopslider-commercial-resonsive-slider/" target="_blank">
				<img src="images/demo/shopslider-banner.jpg" alt="responsive shop slider" class="responsive-img" />
			</a>
			</div>
        
        </div>
        <!-- End Panel Content -->
        
    </div>
    <!-- END ShopSlider -->